
body{
    background-color: whitesmoke;
}
.main-container{
    margin: auto;
    margin-top: 30px;
    background-color: white;
    width: 75%;
    height: fit-content;
    
    /* border: 1px solid slateblue; */
}
.header{
    padding-top: 3%;
    background-color: transparent;
    margin: auto;
    margin-bottom: -10px;
    width: 70%;
    text-align: center;
    /* border: 1px solid slateblue; */
}
.ping{
  width: 10%;  
}
h4{
    color: grey;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    /* font-weight: 700; */
    width: 100%;
    margin-top: 10px;
}


strong{
    color: black;
    font-family: sans-serif;
}
h5{
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 12.5px;
}
.error-div{
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 10%;
}

.part2{
    background-color: transparent;
    width: 70%;
    margin: auto;
    /* border: 1px solid slateblue; */
}
#error{
    font-size: 20px;
    justify-self: left;
}

.footer{
    /* background-color: green; */
    /* border: 1px solid slateblue; */
    width: 70% ;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    /* text-align: center; */

}
.copy{
    width: 70%;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 20px;
}
.logo{
    border: solid rgb(114, 114, 114);
    border-width: 1px;
    border-radius: 50%;
    margin: 5px;
    height: 40px;
    line-height: 45px;
    width: 44px;
    text-align: center;
    vertical-align: middle;

}
ion-icon{
    color: rgb(35, 122, 235);
    align-self: center;
    justify-self: center;
}
.logo:hover{
    background-color: rgb(35, 122, 235);
    cursor: pointer;
    
}
ion-icon:hover{
    color: white;
    background-color: rgb(35, 122, 235)
    
}
input:focus{
    outline:none;
}
.dashpic{
    margin-top:2%;
    width: inherit;
    margin-left: 15%;
    padding-bottom: 20px;

}
input{
    border: solid  gray;
    border-width: 1px;
    border-radius: 20px;
    height: 35px;
    width: 40%;
    padding-left: 15px;
    font-family: 'Libre Franklin', sans-serif;

}
button{
    font-family: 'Libre Franklin', sans-serif;
    width: 20%;
    height: 35px;
    border-radius: 20px;
    font-weight: 200;
    font-size: 10px;
    border: hidden 0.5px hsl(0, 0%, 59%);
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: none;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 0.0pt 1.0pt hsl(223, 100%, 88%);

}
input:focus{
    border: none;
}
p{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

@media (min-width: 715px) {
    /* body{
        background-color: greenyellow;
    } */

    button{
        font-weight: 600;
        font-size: 15px;
    }
    h4{
        font-size: 40px;
    }
    h5{
        font-size: 25px;
        margin-top: -40px;
    }
}
@media(max-width: 375px){

    .header{
        width: 100%;
        margin-bottom: 10px;
    }
    .part2{
        width: 100%;
    }
    .footer{
        width: 100%;
        margin-top: -20px;
    }
    .copy{
        width: 100%;
    }
    .dashpic{
        margin-left: 0;
    }
    .logo{
        height: 20px;
        width: 24px;
        line-height: 20px;
        vertical-align: middle;
        padding-top: 1.6%;
    }
    input{
        width: 80%;
    }
    
    button{
        margin-top: 10px;
        width: 85%;
    }
    .ping{
       width: 20%;
    }
    strong{
        color: black;
        font-weight: 900;
    }
    #error{
        font-size: 14px;
    }
   
    
}